<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMCC.Properties.Settings.helloConnectionString" connectionString="Data Source=.;Initial Catalog=hello;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMCC.Properties.Settings.PMCCConnectionString" connectionString="Data Source=(local);Initial Catalog=PMCC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMCC.Properties.Settings.QLyChamCongConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLyChamCong;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMCC.Properties.Settings.PMCCConnectionString1" connectionString="Data Source=.;Initial Catalog=PMCC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>