USE [master]
GO
/****** Object:  Database [PMCC]    Script Date: 12/19/2019 09:54:48 ******/
CREATE DATABASE [PMCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PMCC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PMCC.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PMCC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PMCC_log.ldf' , SIZE = 3904KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PMCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PMCC]
GO
/****** Object:  UserDefinedFunction [dbo].[AttitudeCheck]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[AttitudeCheck](@EmpId varchar(100), @dayWork date)
returns int
as
begin
	declare @rs int
	declare @attitude varchar(100)=
	(
		select attitude from Time_Keeper where id=@EmpId and day(dateWork)=day(@dayWork) and YEAR(dateWork)=YEAR(@dayWork) and MONTH(dateWork)=MONTH(@dayWork)
	)
	if @attitude =N'Đã duyệt'
		set @rs=0
	else
	begin
		declare @Checkin time=
		(
			select CheckIn from Time_Keeper where id=@EmpId and day(dateWork)=day(@dayWork) and YEAR(dateWork)=YEAR(@dayWork) and MONTH(dateWork)=MONTH(@dayWork)
		)
		if @Checkin is null
			set @rs=1
		else
			set @rs=-1
	end
	return @rs
end

GO
/****** Object:  UserDefinedFunction [dbo].[AutoId]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[AutoId]() returns int --Dung de sinh so thu tu ID tu dong
as
begin
	declare @maxID varchar(100) =
	(
		select max(id) from Employee
	)
	declare @rs int
	if @maxID is null
		set @rs=1
	else
		set @rs=cast(substring(@maxID,4,9) as int) + 1
	return @rs
end

GO
/****** Object:  UserDefinedFunction [dbo].[Check_CheckedShift]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Check_CheckedShift](@EmpID varchar(100), @date date)
returns int
as
begin
	declare @rs int
	if exists(select * from Time_Keeper where id=@EmpID and dateWork=@date and CheckOut is not null)
	set @rs=1
	else
	set @rs=0
	return @rs
end

GO
/****** Object:  UserDefinedFunction [dbo].[CheckRevenuePerMonth]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[CheckRevenuePerMonth](@id varchar(100),@month date) --hàm kiểm tra xem đã có bảng ghi cho lương tháng đó trong dbo.Salary hay không
returns int
as
begin
	declare @rs int
	declare @temp varchar(100)=
	(
		select Name from Salary where EmpID=@id and month(inMonth)=month(@month)
	)

	if @temp is null
	begin
		set @rs=1
	end
	else
		set @rs=0
	return @rs
end
GO
/****** Object:  UserDefinedFunction [dbo].[CreateID]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[CreateID]() returns varchar(100)
as
begin
declare @maxadded int =(select dbo.AutoId())
	declare @userid varchar(100)
	if @maxadded<10
		set @userid ='TCH000'+ (select cast(dbo.AutoId()as varchar(100)))
	else
	begin
		if @maxadded>=10 and @maxadded<100 --tch0099 tch1000
		begin
			set @userid ='TCH00'+ (select cast(dbo.AutoId()as varchar(100)))
		end
		else
		begin
			if @maxadded>=100 and @maxadded<1000
			begin
				set @userid ='TCH0'+ (select cast(dbo.AutoId()as varchar(100)))
			end
			else
				set @userid ='TCH'+ (select cast(dbo.AutoId()as varchar(100)))
		end
	end
	return @userid
end

GO
/****** Object:  UserDefinedFunction [dbo].[GetBonus]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetBonus](@ProjName nvarchar(100))
returns int
as
begin
	declare @bonus int =
	(
		select Bonus from Project where Name=@ProjName
	)
	return @bonus
end

GO
/****** Object:  UserDefinedFunction [dbo].[GetConstract]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetConstract](@id varchar(100))
returns nvarchar(100)
as
begin
	declare @hopdong nvarchar(100)=
	(
		select MaHopDong from NhanVien where MaNV=@id
	)
	return @hopdong
end

GO
/****** Object:  UserDefinedFunction [dbo].[GetContact]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetContact](@id varchar(100))
returns nvarchar(100)
as
begin
	declare @phone nvarchar(100)=
	(
		select phone from Employee where id=@id
	)
	return @phone
end

GO
/****** Object:  UserDefinedFunction [dbo].[GetEmail]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetEmail](@id varchar(100))
returns nvarchar(100)
as
begin
	declare @mail nvarchar(100)=
	(
		select email from Employee where id=@id
	)
	return @mail
end

GO
/****** Object:  UserDefinedFunction [dbo].[GetName]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------FUNCTION---------------------------

create function [dbo].[GetName](@id varchar(100))
returns nvarchar(100)
as
begin
	declare @name nvarchar(100)=
	(
		select name from Employee where id=@id
	)
	return @name
end

GO
/****** Object:  UserDefinedFunction [dbo].[GetPosition]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[GetPosition](@id varchar(100)) returns nvarchar(50)
as
begin
	declare @position nvarchar(50)=(select position from Employee where id=@id)
	return @position
end

GO
/****** Object:  UserDefinedFunction [dbo].[IsLogin]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[IsLogin](@id varchar(100),@password nvarchar(max))
returns int
as
begin
	declare @isLogin int
	declare @hashPass varbinary(max)=hashbytes('SHA2_512', '1000.'+@password)
	declare @temp nvarchar(max)=
	(
		select password from Account,Employee where @id=Employee.id and Employee.attitude=N'Còn làm' and @id=Account.id and @hashPass=password
	)

	if @temp is null
		set @isLogin=0
	else
		set @isLogin=1
	return @isLogin
end

GO
/****** Object:  UserDefinedFunction [dbo].[luong]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[luong](@id varchar(100), @month int,@year int)
returns int
as
begin
declare @tonggio int =
(
  select sum(totalTime) from Time_Keeper where id=@id and (month(dateWork)=@month and year(dateWork)=@year)
)
return @tonggio*18000
end

GO
/****** Object:  UserDefinedFunction [dbo].[SalaryByMonth]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[SalaryByMonth](@id varchar(100), @month date)
returns int
as
begin
declare @tonggio int =
(
  select sum(totalTime) from Time_Keeper where id=@id and (month(dateWork)=month(@month) and year(dateWork)=year(@month))
)
declare @bonus int =
(
	select Sum(Bonus) from Project,Asign where idEmp='TCH0001' and Project.id=Asign.idProj and Project.attitude = N'Hoạt động'
)
return @tonggio*18000+@bonus
end

GO
/****** Object:  UserDefinedFunction [dbo].[TotalTime]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[TotalTime](@id varchar(100),@FromMonth date,@ToMonth date)
returns decimal
as
begin
declare @tonggio real=
(
select sum(totalTime) from Time_Keeper where id=@id and (month(dateWork)=month(@FromMonth) or month(dateWork)=month(@ToMonth)) and (day(dateWork)>=day(@FromMonth) and day(dateWork)<=day(@ToMonth))
)
return @tonggio
end

GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[id] [varchar](100) NOT NULL,
	[password] [varbinary](max) NULL,
	[NetworkIp] [nvarchar](100) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Asign]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Asign](
	[idProj] [int] NOT NULL,
	[idEmp] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Asign] PRIMARY KEY CLUSTERED 
(
	[idProj] ASC,
	[idEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [varchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[name] [nvarchar](100) NULL,
	[sex] [varchar](10) NULL,
	[birthdate] [date] NULL,
	[phone] [varchar](10) NULL,
	[address] [nvarchar](100) NULL,
	[position] [nvarchar](50) NULL,
	[BasicSalary] [real] NULL,
	[attitude] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Project]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Bonus] [int] NULL,
	[attitude] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Salary]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Salary](
	[EmpID] [varchar](100) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[inMonth] [date] NOT NULL,
	[totalTime] [int] NULL,
	[TotalSalary] [int] NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC,
	[inMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shift](
	[ShiftId] [varchar](50) NOT NULL,
	[shiftTime] [nvarchar](20) NULL,
	[shiftName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Shift] PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC,
	[shiftName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShiftPerWeek]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShiftPerWeek](
	[EmpId] [varchar](100) NOT NULL,
	[ShiftId] [varchar](50) NOT NULL,
	[ShiftName] [varchar](100) NOT NULL,
	[day] [date] NOT NULL,
 CONSTRAINT [PK_ShiftPerWeek] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC,
	[ShiftId] ASC,
	[ShiftName] ASC,
	[day] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Time_Keeper]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Time_Keeper](
	[id] [varchar](100) NOT NULL,
	[CheckIn] [time](7) NULL,
	[CheckOut] [time](7) NULL,
	[dateWork] [date] NOT NULL,
	[totalTime] [int] NULL,
	[notePerShift] [nvarchar](max) NULL,
	[attitude] [nvarchar](100) NULL,
 CONSTRAINT [PK_TimeKeeper] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[dateWork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  UserDefinedFunction [dbo].[checkNV]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[checkNV](@id varchar(100),@name nvarchar(100))
returns table
as
return (select id as ID, name as Name, birthdate as Birthday,sex as Sex,phone as Contact, position as Position, address as Address,email as Email from Employee where id like ('%'+ @id +'%')  or name like ( '%'+ @name +'%') )

GO
/****** Object:  UserDefinedFunction [dbo].[LoadData]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[LoadData]()
returns table
as
return select id as ID, name as Name, birthdate as Birthday,sex as Sex,phone as Contact, position as Position, address as Address,email as Email from Employee where attitude=N'Còn làm'

GO
/****** Object:  UserDefinedFunction [dbo].[LoadSalaryTable]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[LoadSalaryTable](@id varchar(100),@month int,@year int)
returns table
as
return select EmpID as ID,Name as 'Full Name',month(inMonth) as Month,totalTime as 'Time',TotalSalary as Salary 
from Salary where EmpID=@id and month(inMonth)=@month and year(inMonth)=@year

GO
/****** Object:  UserDefinedFunction [dbo].[Test]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Test](@id varchar(100))
returns table
return select * from Time_Keeper where id=@id

GO
INSERT [dbo].[Account] ([id], [password], [NetworkIp]) VALUES (N'TCH0001', 0x0329FAA5EC55C29ACDC2546EF29EDCDB59896A21B5A2EDA1B2D6CBEA78EFE4EA113AB603F33F6DEEBEB05F49A1247B7A97AA8326734C2D98154CB699535FBD65, N'192.168.1.1')
GO
INSERT [dbo].[Account] ([id], [password], [NetworkIp]) VALUES (N'TCH0002', 0x0329FAA5EC55C29ACDC2546EF29EDCDB59896A21B5A2EDA1B2D6CBEA78EFE4EA113AB603F33F6DEEBEB05F49A1247B7A97AA8326734C2D98154CB699535FBD65, N'192.168.1.1')
GO
INSERT [dbo].[Account] ([id], [password], [NetworkIp]) VALUES (N'TCH0003', 0x0329FAA5EC55C29ACDC2546EF29EDCDB59896A21B5A2EDA1B2D6CBEA78EFE4EA113AB603F33F6DEEBEB05F49A1247B7A97AA8326734C2D98154CB699535FBD65, N'192.168.1.1')
GO
INSERT [dbo].[Asign] ([idProj], [idEmp]) VALUES (1, N'TCH0007')
GO
INSERT [dbo].[Asign] ([idProj], [idEmp]) VALUES (1006, N'TCH0001')
GO
INSERT [dbo].[Asign] ([idProj], [idEmp]) VALUES (1008, N'TCH0001')
GO
INSERT [dbo].[Employee] ([id], [email], [name], [sex], [birthdate], [phone], [address], [position], [BasicSalary], [attitude]) VALUES (N'TCH0001', N'duongcokhanh0203@gmail.com', N'Dương Cơ Khánh', N'Male', CAST(N'1999-02-03' AS Date), N'0563243215', N'Tp. Hồ Chí Minh', N'Admin', 18000, N'Còn làm')
GO
INSERT [dbo].[Employee] ([id], [email], [name], [sex], [birthdate], [phone], [address], [position], [BasicSalary], [attitude]) VALUES (N'TCH0002', N'duongcokhanh17110315@gmail.com', N'Dương Cơ Khánh', N'Male', CAST(N'1999-02-03' AS Date), N'23', N'sg', N'Admin', 1E+07, N'Đã thôi việc')
GO
INSERT [dbo].[Employee] ([id], [email], [name], [sex], [birthdate], [phone], [address], [position], [BasicSalary], [attitude]) VALUES (N'TCH0003', N'duongcokhanh17110315@gmail.com', N'Dương Cơ Khánh', N'Male', CAST(N'1999-02-03' AS Date), N'23', N'sg', N'Admin', 1E+07, N'Đã thôi việc')
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

GO
INSERT [dbo].[Project] ([id], [Name], [Bonus], [attitude]) VALUES (1, N'Công nghệ phần mềm', 5000000, N'Hoạt động')
GO
INSERT [dbo].[Project] ([id], [Name], [Bonus], [attitude]) VALUES (2, N'Lập trình hướng đối tượng', 5000000, N'Hoạt động')
GO
INSERT [dbo].[Project] ([id], [Name], [Bonus], [attitude]) VALUES (3, N'Cấu trúc dữ liệu và giải thuật', 500000, N'Hoạt động')
GO
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
INSERT [dbo].[Salary] ([EmpID], [Name], [inMonth], [totalTime], [TotalSalary]) VALUES (N'TCH0001', N'Dương Cơ Khánh', CAST(N'2019-09-01' AS Date), NULL, NULL)
GO
INSERT [dbo].[Salary] ([EmpID], [Name], [inMonth], [totalTime], [TotalSalary]) VALUES (N'TCH0001', N'Dương Cơ Khánh', CAST(N'2019-10-01' AS Date), 40, 15720000)
GO
INSERT [dbo].[Salary] ([EmpID], [Name], [inMonth], [totalTime], [TotalSalary]) VALUES (N'TCH0001', N'Dương Cơ Khánh', CAST(N'2019-11-29' AS Date), 40, 720000)
GO
INSERT [dbo].[Time_Keeper] ([id], [CheckIn], [CheckOut], [dateWork], [totalTime], [notePerShift], [attitude]) VALUES (N'TCH0001', CAST(N'09:05:24' AS Time), CAST(N'15:05:27' AS Time), CAST(N'2019-10-01' AS Date), 5, N'Note', N'Chưa duyệt')
GO
INSERT [dbo].[Time_Keeper] ([id], [CheckIn], [CheckOut], [dateWork], [totalTime], [notePerShift], [attitude]) VALUES (N'TCH0001', CAST(N'09:05:24' AS Time), CAST(N'15:05:27' AS Time), CAST(N'2019-10-02' AS Date), 5, N'Note', N'Chưa duyệt')
GO
INSERT [dbo].[Time_Keeper] ([id], [CheckIn], [CheckOut], [dateWork], [totalTime], [notePerShift], [attitude]) VALUES (N'TCH0001', CAST(N'09:05:24' AS Time), CAST(N'15:05:27' AS Time), CAST(N'2019-10-03' AS Date), 5, N'Note', N'Chưa duyệt')
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account] FOREIGN KEY([id])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account]
GO
ALTER TABLE [dbo].[Asign]  WITH CHECK ADD  CONSTRAINT [FK_Emp] FOREIGN KEY([idEmp])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Asign] CHECK CONSTRAINT [FK_Emp]
GO
ALTER TABLE [dbo].[Asign]  WITH CHECK ADD  CONSTRAINT [FK_Project] FOREIGN KEY([idProj])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[Asign] CHECK CONSTRAINT [FK_Project]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary]
GO
ALTER TABLE [dbo].[ShiftPerWeek]  WITH CHECK ADD  CONSTRAINT [FK_ShiftPerWeek] FOREIGN KEY([EmpId])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[ShiftPerWeek] CHECK CONSTRAINT [FK_ShiftPerWeek]
GO
ALTER TABLE [dbo].[ShiftPerWeek]  WITH CHECK ADD  CONSTRAINT [FK_ShiftPerWeek1] FOREIGN KEY([ShiftId], [ShiftName])
REFERENCES [dbo].[Shift] ([ShiftId], [shiftName])
GO
ALTER TABLE [dbo].[ShiftPerWeek] CHECK CONSTRAINT [FK_ShiftPerWeek1]
GO
ALTER TABLE [dbo].[Time_Keeper]  WITH CHECK ADD  CONSTRAINT [FK_TimeKeeper] FOREIGN KEY([id])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Time_Keeper] CHECK CONSTRAINT [FK_TimeKeeper]
GO
/****** Object:  StoredProcedure [dbo].[AddEmp]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddEmp] @password nvarchar(max),@email nvarchar(100),@name nvarchar(100),@sex varchar(10),@birthdate date,
@phone varchar(10),@address nvarchar(100),@position nvarchar(50),@salary real,@networkIP nvarchar(100)
as
begin
	declare @userid varchar(100)=(select dbo.CreateID())
	declare @defaultPassword varbinary(max)=  hashbytes('SHA2_512', '1000.'+@password) --băm mật khẩu ra kiểu byte
	--if (@phone=Any(select phone from Emp))
	--begin
	--	print N'Lỗi vui lòng kiểm tra lại thông tin!'
	--	rollback tran
	--end
	--else
	--begin
		insert into Employee
		values (@userid,@email,@name,@sex,@birthdate,@phone,@address,@position,@salary,N'Còn làm')

		insert into Account
		values (@userid,@defaultPassword,@networkIP)
	--end
end

GO
/****** Object:  StoredProcedure [dbo].[AddEmpToProj]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddEmpToProj](@ProjName nvarchar(100),@idEmp varchar(100))
as
begin
	declare @idProj int =(select id from Project where Name=@ProjName)
	insert into Asign values(@idProj,@idEmp)
end

GO
/****** Object:  StoredProcedure [dbo].[AddProject]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddProject] @name nvarchar(100),@bonus int
as
begin
	insert into Project
	values(@name,@bonus,N'Hoạt động')
end

GO
/****** Object:  StoredProcedure [dbo].[AddToSalary]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddToSalary](@id varchar(100),@month date)
as
begin
	declare @Salary int = (select dbo.SalaryByMonth(@id,@month))
	declare @tonggio int =
(
  select sum(totalTime) from Time_Keeper where id=@id and (month(dateWork)=month(@month) and year(dateWork)=year(@month))
)
declare @name nvarchar(100)=(select name from Employee WHERE id=@id)
insert into Salary values (@id,@name,@month,@tonggio,@Salary)
end

GO
/****** Object:  StoredProcedure [dbo].[CheckShift]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CheckShift] @EmpId varchar(100), @dayWork date,@CheckTime time,@note nvarchar(max)
as
begin
	if (select CheckIn from Time_Keeper where id=@EmpId and day(dateWork)=day(@dayWork) and YEAR(dateWork)=YEAR(@dayWork) and MONTH(dateWork)=MONTH(@dayWork)) is null
	begin
		insert into Time_Keeper
		values (@EmpId,@CheckTime,null,@dayWork,null,@note,N'Chưa duyệt')
	end
	else
	begin
		update Time_Keeper
		set CheckOut=@CheckTime
		--totalTime=(select DATEDIFF(HOUR,CheckIn,@CheckTime))
		where id=@EmpId and day(dateWork)=day(@dayWork) and YEAR(dateWork)=YEAR(@dayWork) and MONTH(dateWork)=MONTH(@dayWork)
	end
end

GO
/****** Object:  StoredProcedure [dbo].[ConfirmShift]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--3/ viết proc duyệt công (update thuộc tính attitude trong Time_Keeper)
create proc [dbo].[ConfirmShift] @EmpId varchar(100),@totalTime real,@dayWork date --Duyệt công theo ngày
as
begin
	update Time_Keeper
	set attitude=N'Đã duyệt' ------------------------------Bổ sung thêm tổng giờ-----------------------------
	where id=@EmpId and day(dateWork)=day(@dayWork) and YEAR(dateWork)=YEAR(@dayWork) and MONTH(dateWork)=MONTH(@dayWork)
end

GO
/****** Object:  StoredProcedure [dbo].[DeleteEmp]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteEmp] @EmpId varchar(100)
as
begin
	update Employee
	set Employee.attitude=N'Đã thôi việc'
	where Employee.id=@EmpId
	delete from Account
	where id=@EmpId
end

GO
/****** Object:  StoredProcedure [dbo].[EditProject]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EditProject](@name nvarchar(100),@bonus int)
as
begin
	update Project
	set 
	Bonus=@bonus
	where Name=@name
end

GO
/****** Object:  StoredProcedure [dbo].[LoadProjDetails]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadProjDetails](@ProjName nvarchar(100))
as
begin
	select distinct Employee.name as 'Full name', Employee.birthdate as 'Birth date',
	Employee.sex as 'Sex',
	Employee.phone as 'Phone',
	Employee.email as 'Email'
	from Employee, Asign,Project where Employee.id=Asign.idEmp and Asign.idProj in (select id from Project where Name=@ProjName)
end

GO
/****** Object:  StoredProcedure [dbo].[LoadProjectTable]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadProjectTable]
as
begin
	select Name as 'Project name', Bonus,attitude as 'Attitude' from Project
end

GO
/****** Object:  StoredProcedure [dbo].[LoadRevenueTable]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadRevenueTable] @id varchar(100),@month date
as
begin
 select * from Salary where month(inMonth)=month(@month) and EmpID=@id
end

GO
/****** Object:  StoredProcedure [dbo].[LoadSalaryDetails]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadSalaryDetails](@id varchar(100),@startDate date,@endDate date)
as
begin
	DECLARE @start_date DATE = @startDate;
	DECLARE @end_date DATE = @endDate;

WITH    AllDays
          AS ( SELECT   @start_date AS [Date], 1 AS [level]
               UNION ALL
               SELECT   DATEADD(DAY, 1, [Date]), [level] + 1
               FROM     AllDays
               WHERE    [Date] < @end_date )
     SELECT id as 'User', CheckIn as 'Check In', CheckOut as 'Check Out',[Date] as 'Date', totalTime as 'Total Time', attitude as 'Attitude'
     FROM   Time_Keeper,AllDays where id=@id and [Date]=Time_Keeper.dateWork option (maxrecursion 365)
--return select Name as 'Full Name',month(inMonth) as 'Month',lateDays as 'Late Times', fine as 'Fine',totalTime as 'Total Time', TotalSalary as 'Salary' from Salary where EmpID=@id and month(inMonth)=month(@month)
end

GO
/****** Object:  StoredProcedure [dbo].[RecoveryPassword]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[RecoveryPassword](@id varchar(100), @newpass nvarchar(max))
as
begin
	declare @recoveryPass varbinary(max)=hashbytes('SHA2_512', '1000.'+@newpass)
	update Account
	set password=@recoveryPass
	where id=@id
end

GO
/****** Object:  StoredProcedure [dbo].[RemoveFromProj]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[RemoveFromProj](@ProjName nvarchar(100),@idEmp varchar(100))
as
begin
	declare @idProj int = (select id from Project where Name=@ProjName)
	delete from Asign
	where Asign.idProj=@idProj and idEmp=@idEmp
end

GO
/****** Object:  StoredProcedure [dbo].[ShiftTime]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ShiftTime](@EmpID varchar(100), @day date) --Tổng giờ làm trong ngày
as
begin
	declare @checkIn time=(select CheckIn from Time_Keeper where id=@EmpID and day(dateWork)=day(@day) and month(dateWork)=month(@day) and year(dateWork)=year(@day))
	declare @checkOut time=(select CheckOut from Time_Keeper where id=@EmpID and day(dateWork)=day(@day) and month(dateWork)=month(@day) and year(dateWork)=year(@day))
	declare @Total int
		if(DATEPART(MINUTE,@checkIn)=5)
		begin
			set @Total =((select DATEDIFF(HOUR,@checkIn,@checkOut))-1)
			if @Total < 0
			begin
				set @Total=0
			end
		end
		else
		begin
			if(DATEPART(MINUTE,@checkIn)>5 and DATEPART(MINUTE,@checkIn)<=10)
			begin
				set @Total =((select DATEDIFF(HOUR,@checkIn,@checkOut))-2)
				if @Total < 0
				begin
					set @Total=0
				end
			end
			else
			begin
				if(DATEPART(MINUTE,@checkIn)>10)
					set @Total=0
			end
		end
	
	update Time_Keeper
	set totalTime=@Total
	where id=@EmpID
	and day(dateWork)=day(@day) and month(dateWork)=month(@day) and year(dateWork)=year(@day)
end

GO
/****** Object:  StoredProcedure [dbo].[UnableProject]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UnableProject] @name nvarchar(100)
as
begin
	update Project
	set attitude=N'Ngưng hoạt động'
	where Name=@name
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateEmpInfo]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdateEmpInfo] @EmpId varchar(100),@name nvarchar(100), @email nvarchar(100),@sex varchar(10),@birthdate date,@phone varchar(10),@address nvarchar (100)
,@position nvarchar(50),@BasicSalary real,@attitude nvarchar(100)	--THIEU THONG SO DU LIEU TRUYEN VAO
as
begin
	update Employee
	set Employee.email=@email,
	Employee.name=@name, 
	Employee.sex= @sex,
	Employee.birthdate=@birthdate,
	Employee.phone=@phone,
	Employee.address=@address,
	Employee.position=@position,
	Employee.BasicSalary=@BasicSalary,
	Employee.attitude=@attitude
	where id=@EmpId
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateEmpinfo_Basic]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateEmpinfo_Basic] @EmpId varchar(100),@name nvarchar(100), @email nvarchar(100),@phone varchar(10)
as
begin
	Update Employee
	set
	name=@name,
	email=@email,
	phone=@phone
	where id=@EmpId
end

GO
/****** Object:  StoredProcedure [dbo].[UpdatePassword]    Script Date: 12/19/2019 09:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdatePassword](@id varchar(100), @password nvarchar(max))
as
begin
	update Account
	set password=hashbytes('SHA2_512', '1000.'+@password)
	where id=@id
end

GO
USE [master]
GO
